
*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background-image: url('../slike/back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.body{
    width: 100%;
    height: 100%;
}
.main{
    width: 900px;
    height: 550px;
    margin: auto;
    margin-top: 275px;
}
.cent{
    width: 1000px;
    height: 550px;
    background-color: #101010;
}
#center{
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 700px;
    height: 250px;
    background-color: #efe8ec;
    border: 5px solid #b1b1b1;
    border-radius: 15px;
    font-size: 35px;
}
h1{
    font-size: 120px;
    text-align: center;
    color: #ab260c;
    font-family: 'jer';
}
.kaj{
    height: 75px;
    width: 100%;
}
#igralci{
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
    overflow: hidden;
}
label{
    color: #29271c;
    font-family: jer;
}
.igralci{
    width: 150px;
    display: inline-block;
    text-align: center;
    font-family: jer;
    font-size: 45px;
    margin-bottom: 15px;
    overflow: hidden;
    color:#29271c;
}
.vpis{
    font-family: jer;
    text-align: center;
    color: #ab260c;
    font-size: 20px;
}
#zmagovalec{
    width: 100%;
    color:#ab260c;
    font-family: jer;
    margin-bottom: 10px;
}
#kocke{
    margin-top: 25px;
    font-size: 45px;
    
}
.izb{
    text-align: center;
    width: 70px;
    border-radius: 5px;
}

.igram{
    height: 300px !important;
}
#obrazec{
    width: 100%;
    height: 100%;
}
.dol{
    text-align: center;
    font-size: 45px;
    width: 100%;
    border-radius: 7px;
    color:#29271c;
    font-family: jer;
}
.dol a{
    color: #b1b1b1;
}
#dol{
    color: #ab260c !important;
}
#igralci{
    color: #29271c !important;
}
input, select{
    width: 170px;
    height: 30px;
    font-size: 25px;
    color: #000000;
}
.kocke{
    border:3px solid black;
    margin:0 1px;
    border-radius:5px;
}
.izberi{
    width: 50%;
}

.button-5 {
    width: 75px;
    height: 45px;
  align-items: center;
  background-clip: padding-box;
  background-color: #b1b1b16e;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #e95e43;
  cursor: pointer;
  display: inline-flex;
  
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  font-family: jer;
  margin: 0;
  
  padding: 2px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-5:hover,
.button-5:focus {
  background-color: #ab260c;
  color: #29271c;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

@font-face {
    font-family: jer;
    src: url(../bronco/b.ttf);
}